@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

$primary_blue: #39a0ff;
$primary_black: #14181d;
$font-stack: 'Honk', system-ui;
