@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

$primary_blue: #39a0ff;
$primary_black: #14181d;
$primary_gray: #343d46;
$font-stack: 'Sixtyfour', sans-serif;

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  font-family: $font-stack;
}
